.Body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.SentimentGraph {
  height: 90%;
  width: 88%;
}

.ChatBox {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
