.ChatDiv {
  height: 93%;
  display: flex;
  flex-direction: column;
  background: #212126;
  outline: 1px solid black;
  overflow: auto;
}

.ChatDiv span {
  color: white;
  text-align: left;
}

.ChatStatsDiv {
  outline: 1px solid black;
  background: #212126;
}
