.Header {
  display: flex;
}

.Header div {
  display: flex;
  flex-basis: 100%;
}

.Image a {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50px;
}

.Image img {
  max-height: 60%;
  position: relative;
  left: 10px;
}

.User {
  justify-content: center;
}

.User a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.Login {
  display: flex;
  justify-content: right;
  align-items: center;
}

.LoginButton {
  position: relative;
  right: 10px;
  height: 80%;
}
