.Header {
  display: flex;
  justify-content: space-between;
}

div.Header div {
  display: flex;
  flex-basis: 100%;
}

div.ImageDiv a {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50px;
}

div.ImageDiv img {
  max-height: 60%;
  position: relative;
  left: 10px;
}

div.LoginDiv {
  justify-content: right;
  align-items: center;
}

div.UserDiv {
  justify-content: center;
}

div.UserDiv p {
  display: flex;
  justify-content: center;
  margin: auto;
  color: white;
}

.Login {
  position: relative;
  right: 10px;
  height: 80%;
}
