.Channel {
  display: flex;
}

.ChannelTextBox {
  width: 80%;
}

.ChannelEnterButton {
  width: 20%;
}

.ChatStatsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ChatStatsDiv span {
  color: white;
}

.ChatStatsDiv div {
  height: 100%;
  min-width: 33%;
  outline: 1px solid black;
}
