.SentimentGraphStats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212126;
  outline: 1px solid black;
}

.SentimentGraphStats div {
  height: 100%;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: center;
  outline: 1px solid black;
}
