.SentimentGraph {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.SentimentGraph span {
  color: white;
}

.SentimentGraph button:hover {
  color: #8a3bff;
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.05);
}

.SentimentGraphOptions {
  height: 6%;
  width: 100%;
}

.SentimentGraphStats {
  height: 6%;
  width: 100%;
}

.SentimentGraphBody {
  height: 78%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #212126;
  outline: 1px solid black;
}

.SentimentGraphFooter {
  height: 6%;
  width: 100%;
  background: #212126;
  outline: 1px solid black;
}

.SentimentGraphFooter button {
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background: transparent;
  outline: 1px solid black;
}

.Legend {
  height: 5%;
  width: 100%;
}

.StackedLineGraph {
  height: 94%;
  width: 100%;
}
