.SentimentGraph {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.SentimentGraph .Loader {
  height: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SentimentGraph span {
  color: white;
}

.SentimentGraph button:hover {
  color: #8a3bff;
  cursor: pointer;
}

.SentimentGraphOptions {
  height: 14%;
  width: 100%;
}

.SentimentGraphStats {
  height: 6%;
  width: 100%;
}

.SentimentGraphBody {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #212126;
  outline: 1px solid black;
}

.SentimentGraphFooter {
  height: 6%;
  width: 100%;
  background: #212126;
  box-shadow: 4px 4px 8px black;
}

.SentimentGraphFooter:hover {
  box-shadow: 1px 1px 4px black;
}

.SentimentGraphFooter button {
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background: transparent;
}

.Legend {
  height: 5%;
  width: 100%;
}

.StackedLineGraph {
  height: 90%;
  width: 100%;
}
