.SentimentGraphOptions {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.UpperOptions,
.LowerOptions {
  height: 35%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LowerOptions {
  flex-direction: row;
}

.DateTime,
.TimeFrame,
.Retrieve,
.InfoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  background: #212126;
  height: 100%;
  flex-basis: 100%;
  box-shadow: 4px 4px 8px black;
}

.DateTime .Label {
  margin-right: 1%;
}

.Retrieve,
.InfoButton {
  margin-right: 0%;
}

.TimeFrame button,
.Retrieve button,
.InfoButton button {
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background: transparent;
}

.TimeFrame:hover,
.Retrieve:hover,
.InfoButton:hover {
  color: #8a3bff;
  cursor: pointer;
  box-shadow: 1px 1px 4px black;
}
