.SentimentGraphOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212126;
  outline: 1px solid black;
}

.DateTime {
  height: 100%;
  flex-basis: 100%;
  outline: 1px solid black;
}

.DateTimePicker {
  height: 100%;
  align-items: center;
}

.TimeFrame,
.Retrieve {
  height: 100%;
  width: 10%;
  flex-basis: 100%;
}

.TimeFrame button,
.Retrieve button {
  height: 100%;
  width: 100%;
  border: none;
  color: white;
  background: transparent;
  outline: 1px solid black;
}

.TimeFrame button:hover,
.Retrieve button:hover {
  color: #8a3bff;
  cursor: pointer;
}
